<div id='root'>
	<div id="menu">
		<div class="menu-1">
			<div class="menu-item"   id="menuBtn" data-menu-id="1">导航菜单</div>
			<div class="menu-child menu-child-1 clearfix" >
				<ul class="nav-ul">
				<li class="nav-menu-box"><a title="首页" href="./"><img class="logo" src="./logo.png"/></a></li>
				<li class="nav-menu-box" id="unfold"><a href="javascript:;">展开</a></li>
				<li class="nav-menu-box" id="fold"><a href="javascript:;">收起</a></li>
				</ul>			
			</div>
		</div>	
		<div id="menuContainer"></div>	
		<div class="content" id="contentCtn"></div>	
	</div>
</div>